$cWhite: white;
$cBlack: black;
$cBgGray: #eaebe6;
$contentMaxWidth: 1070px;
$navHeight: 100px;

$cMainTitle: #33272a;
$cSubTitle: #33272a;
$cWineRed: #ff8ba7;
$cBackground: #faeee7;
$cBackcontent: #fffffe;
$cHeaderYUYA: #ff8ba7;
